*{
    padding: 0px;
    border: 0px;
    margin: 0px;
    font-family: 'Alkatra', cursive;
    font-family: 'Climate Crisis', cursive;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background-color: #101729;
    overflow: scroll;
    overflow-x: hidden;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.content{
    display: flex;
    font-size: 40px;
}

.string{
    border-top: 2px solid rgb(255, 255, 255);
    height: 1px;
    width: 100%;
}

#imgstate{
    width: 300px;
    height: 300px;
    padding: -30px;
    margin-bottom: 23px;
    animation: introAnimation 1s ease-in-out
}

#brasilIcon{
    width: 40px;
    height: 40px;
    filter: brightness(0) invert(1);
}

.boxWriteState{
    background-color: #21293f;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
    padding-left: 10px;
    padding-right: 25px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
    width: 300px;
    border: 2px solid rgb(255, 255, 255);
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


button{
    background-color: #1d253b;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
    border: 2px solid rgb(255, 255, 255);
    color: aliceblue;
}

#buttonChance1:hover,
#buttonChance2:hover,
#buttonChance3:hover,
#buttonChance4:hover
{
    background-color: #6f778a;
}

.divlock{
    background-color: #21293f;
    color: rgb(206, 210, 214);
    width: 475px;
    height: 30px;
    margin: 2px;
    margin-top: 4px;
    border-radius: 5px;
    text-align: center;
    padding: 1px;
}

#confetti-canvas {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}

/*vizualizaçao da lista de estados*/

#customDropdown {
    position: relative;
    display: inline-block;
}
  
.dropdownList {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #101729;
    border: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    color: rgb(212, 211, 210);
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1;
    transform: scaleX(97%);
}

#customDropdown .dropdownList option {
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
}
  
#customDropdown:focus-within .dropdownList {
    display: block;
}

.brstate:hover{
    color: aliceblue;
    font-weight: 400;
}

/*apenas para tags*/

h6{
    text-align: center;
    margin: 9px;
}

h3{
    margin-top: 30px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(255, 255, 255);
}

details{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 300px;
    text-align: center;
}

p {  
    text-align: center;
    margin: 9px;
    animation: slideDown 0.5s;
    word-wrap: break-word;
    width: 300px;
}

summary {
    list-style-type: none;
    position: relative;
}

summary::before {
    content: "ᐳ"; 
    position: absolute;
    left: 300px;
    transform: rotate(-90deg);
    animation: girarReverse 0.1s linear;
}

details[open] summary::before {
    transform: rotate(90deg);
    animation: girar 0.1s linear;
}

summary::after {
    transform: rotate(90deg);
    animation: girar 0.1s linear;
}

/*animaçoes*/

@keyframes introAnimation {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 2;
      transform: scale(1);
    }
}

@keyframes slideDown {
    0% {
      transform: translateY(-40%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes girar {
    0% {
      transform: rotate(-90deg);
    }
    100% {
      transform: rotate(90deg);
    }
  }

  @keyframes girarReverse {
    0% {
      transform: rotate(90deg);
    }
    100% {
      transform: rotate(-90deg);
    }
  }


