@media screen and (max-width: 510px) {

    body{


    }

    #buttonChance1{
        height: 36px;
        width: 140px;
        font-size: x-small;
        white-space: nowrap;
    }

    #chance1{
        width: 230px;
    }

    .divlockNone{
        font-size: medium;
    }

    .divlock{
        font-size: medium;
    }

    #replayButton{
        height: 35px;
    }

    #divShowState{
        width: 100px;
    }

    .containerShow{
        margin-left: 0px;
        justify-content: end;
    }
}